
//section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
          h1=title 
          h2 Modify this template to jump-start your Node.JS Express application
      p To learn more about node.js, visit <a href="http://nodejs.org" title="node.js Website">http://nodejs.org/</a>. The page features <span class="highlight">videos, tutorials, and samples</span> to help you get the most from node.js. If you have any questions about node.js, visit <a href="https://github.com/joyent/node" title="node.js github">github</a>.

section(class="main-content")
  h3 THE GREAT SUMMER LAN:
  ol(class="round")
      li(class="one")
          h5 Vote for MVP
          p
           |Vote MVP of the last game
      li(class="two")
          h5 Vote for Next Game
          p Vote for the next game


      