
block javascripts
 script(src='/socket.io/socket.io.js')
 script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
 script(src='/javascripts/site.js')



div( id="Wrap") 
    div(id="listWrap")
        h1 Section Heading
            div( id="list")
